{
  "openapi": "3.0.3",
  "info": {
    "title": "Threadly Marketplace API",
    "description": "A comprehensive API for the Threadly marketplace platform, enabling users to buy and sell fashion items, manage orders, handle payments, and interact with the community.",
    "termsOfService": "https://threadly.app/terms",
    "contact": {
      "name": "Threadly Support",
      "url": "https://threadly.app/support",
      "email": "support@threadly.app"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.threadly.app",
      "description": "Production API"
    },
    {
      "url": "https://staging-api.threadly.app",
      "description": "Staging API"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Products",
      "description": "Product management and browsing"
    },
    {
      "name": "Orders",
      "description": "Order creation and management"
    },
    {
      "name": "Cart",
      "description": "Shopping cart operations"
    },
    {
      "name": "Favorites",
      "description": "User favorites/wishlist"
    },
    {
      "name": "Search",
      "description": "Search and discovery"
    },
    {
      "name": "Users",
      "description": "User profiles and social features"
    },
    {
      "name": "Messages",
      "description": "User messaging system"
    },
    {
      "name": "Reviews",
      "description": "Product and seller reviews"
    },
    {
      "name": "Payments",
      "description": "Payment processing with Stripe"
    },
    {
      "name": "Addresses",
      "description": "Shipping and billing addresses"
    },
    {
      "name": "Categories",
      "description": "Product categories"
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoints for external services"
    },
    {
      "name": "Admin",
      "description": "Administrative operations"
    },
    {
      "name": "Analytics",
      "description": "Seller analytics and insights"
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "tags": ["Products"],
        "summary": "List products",
        "description": "Retrieve a paginated list of products with filtering and sorting options",
        "operationId": "listProducts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "description": "Filter by brand name",
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "condition",
            "in": "query",
            "description": "Filter by product condition",
            "schema": {
              "type": "string",
              "enum": ["NEW", "LIKE_NEW", "GOOD", "FAIR"]
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "description": "Minimum price filter",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "description": "Maximum price filter",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search query for title, description, or brand",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["newest", "price_asc", "price_desc"],
              "default": "newest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Products"],
        "summary": "Create a product",
        "description": "Create a new product listing",
        "operationId": "createProduct",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              },
              "examples": {
                "vintageShirt": {
                  "summary": "Vintage T-Shirt",
                  "value": {
                    "title": "Vintage Band T-Shirt",
                    "description": "Authentic 90s band tee in great condition. Some minor wear consistent with age.",
                    "price": 45.99,
                    "condition": "GOOD",
                    "categoryId": "clg8n4vsg0001qw8kqwerty12",
                    "brand": "Hanes",
                    "size": "L",
                    "color": "Black",
                    "images": [
                      "https://utfs.io/f/abc123-front.jpg",
                      "https://utfs.io/f/abc123-back.jpg"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request too large (max 5MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "tags": ["Products"],
        "summary": "Get product details",
        "description": "Retrieve detailed information about a specific product",
        "operationId": "getProduct",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": ["Orders"],
        "summary": "List orders",
        "description": "Retrieve user's orders as buyer or seller",
        "operationId": "listOrders",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "description": "View orders as buyer or seller",
            "schema": {
              "type": "string",
              "enum": ["buyer", "seller"],
              "default": "buyer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by order status",
            "schema": {
              "type": "string",
              "enum": ["PENDING", "PAID", "SHIPPED", "DELIVERED", "CANCELLED"]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Orders"],
        "summary": "Create order",
        "description": "Create a new order after successful payment",
        "operationId": "createOrder",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "productId": "clg8n4vsg0001qw8kqwerty12",
                    "buyerId": "user_123456",
                    "amount": 45.99,
                    "shippingAddressId": "addr_987654"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or product unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Product or user not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/ship": {
      "post": {
        "tags": ["Orders"],
        "summary": "Mark order as shipped",
        "description": "Update order status to shipped with tracking information",
        "operationId": "shipOrder",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["trackingNumber", "carrier"],
                "properties": {
                  "trackingNumber": {
                    "type": "string",
                    "description": "Shipping tracking number"
                  },
                  "carrier": {
                    "type": "string",
                    "description": "Shipping carrier",
                    "enum": ["USPS", "UPS", "FEDEX", "DHL", "OTHER"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order marked as shipped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - not the seller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cart": {
      "get": {
        "tags": ["Cart"],
        "summary": "Get cart items",
        "description": "Retrieve all items in the user's cart",
        "operationId": "getCart",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cart items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/favorites/toggle": {
      "post": {
        "tags": ["Favorites"],
        "summary": "Toggle favorite",
        "description": "Add or remove a product from favorites",
        "operationId": "toggleFavorite",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["productId"],
                "properties": {
                  "productId": {
                    "type": "string",
                    "description": "Product ID to toggle"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Favorite toggled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isFavorited": {
                      "type": "boolean",
                      "description": "New favorite status"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": ["Search"],
        "summary": "Search products",
        "description": "Search for products with advanced filtering",
        "operationId": "searchProducts",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Category filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "description": "Minimum price",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "description": "Maximum price",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/suggestions": {
      "get": {
        "tags": ["Search"],
        "summary": "Get search suggestions",
        "description": "Get autocomplete suggestions for search queries",
        "operationId": "getSearchSuggestions",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Partial search query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 50
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of suggestions",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": ["Categories"],
        "summary": "List categories",
        "description": "Retrieve all product categories",
        "operationId": "listCategories",
        "parameters": [
          {
            "name": "parent",
            "in": "query",
            "description": "Filter by parent category ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stripe/create-checkout-session": {
      "post": {
        "tags": ["Payments"],
        "summary": "Create checkout session",
        "description": "Create a Stripe checkout session for payment",
        "operationId": "createCheckoutSession",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["productId", "sellerId"],
                "properties": {
                  "productId": {
                    "type": "string",
                    "description": "Product to purchase"
                  },
                  "sellerId": {
                    "type": "string",
                    "description": "Seller ID"
                  }
                }
              },
              "examples": {
                "purchase": {
                  "value": {
                    "productId": "clg8n4vsg0001qw8kqwerty12",
                    "sellerId": "user_123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "clientSecret": {
                      "type": "string",
                      "description": "Client secret for Stripe payment"
                    },
                    "orderId": {
                      "type": "string",
                      "description": "Created order ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or cannot purchase own product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Product not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Payment processing not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/auth": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Auth webhook",
        "description": "Webhook endpoint for authentication provider (Clerk). Handles user lifecycle events.",
        "operationId": "authWebhook",
        "security": [],
        "parameters": [
          {
            "name": "svix-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "user.created",
                      "user.updated", 
                      "user.deleted",
                      "organization.created",
                      "organization.updated",
                      "organizationMembership.created",
                      "organizationMembership.deleted"
                    ]
                  },
                  "data": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook processed"
          },
          "400": {
            "description": "Invalid webhook signature"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/webhooks/payments": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Payment webhook",
        "description": "Webhook endpoint for payment provider (Stripe). Handles payment lifecycle events.",
        "operationId": "paymentWebhook",
        "security": [],
        "parameters": [
          {
            "name": "stripe-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "payment_intent.succeeded",
                      "payment_intent.payment_failed",
                      "charge.refunded",
                      "checkout.session.completed"
                    ]
                  },
                  "data": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed"
          },
          "400": {
            "description": "Invalid webhook signature"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "required": [
          "id",
          "title",
          "description",
          "price",
          "condition",
          "status",
          "categoryId",
          "sellerId",
          "viewCount",
          "favoriteCount",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique product identifier"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000
          },
          "price": {
            "type": "number",
            "minimum": 0,
            "description": "Price in USD"
          },
          "condition": {
            "type": "string",
            "enum": ["NEW", "LIKE_NEW", "GOOD", "FAIR"]
          },
          "status": {
            "type": "string",
            "enum": ["DRAFT", "AVAILABLE", "SOLD", "REMOVED", "RESERVED"]
          },
          "categoryId": {
            "type": "string"
          },
          "sellerId": {
            "type": "string"
          },
          "size": {
            "type": "string",
            "nullable": true
          },
          "brand": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "material": {
            "type": "string",
            "nullable": true
          },
          "measurements": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductImage"
            }
          },
          "viewCount": {
            "type": "integer",
            "minimum": 0
          },
          "favoriteCount": {
            "type": "integer",
            "minimum": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "soldAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "seller": {
            "$ref": "#/components/schemas/UserSummary"
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          }
        }
      },
      "ProductImage": {
        "type": "object",
        "required": ["id", "imageUrl"],
        "properties": {
          "id": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "alt": {
            "type": "string",
            "nullable": true
          },
          "order": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "CreateProductRequest": {
        "type": "object",
        "required": ["title", "description", "price", "condition", "categoryId"],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 3,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "maxLength": 2000
          },
          "price": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 999999.99
          },
          "condition": {
            "type": "string",
            "enum": ["NEW", "LIKE_NEW", "GOOD", "FAIR"]
          },
          "categoryId": {
            "type": "string"
          },
          "brand": {
            "type": "string",
            "maxLength": 50
          },
          "size": {
            "type": "string",
            "maxLength": 20
          },
          "color": {
            "type": "string",
            "maxLength": 30
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "minItems": 1,
            "maxItems": 10
          }
        }
      },
      "ProductListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "products": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              },
              "pagination": {
                "$ref": "#/components/schemas/PaginationInfo"
              }
            }
          }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "product": {
                "$ref": "#/components/schemas/Product"
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Order": {
        "type": "object",
        "required": [
          "id",
          "buyerId",
          "sellerId",
          "productId",
          "status",
          "amount",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "buyerId": {
            "type": "string"
          },
          "sellerId": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "PAID",
              "SHIPPED",
              "DELIVERED",
              "CANCELLED"
            ]
          },
          "amount": {
            "type": "number",
            "minimum": 0
          },
          "totalAmount": {
            "type": "number",
            "minimum": 0
          },
          "shippingAddressId": {
            "type": "string"
          },
          "trackingNumber": {
            "type": "string",
            "nullable": true
          },
          "shippedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "Product": {
            "$ref": "#/components/schemas/Product"
          },
          "buyer": {
            "$ref": "#/components/schemas/UserSummary"
          },
          "seller": {
            "$ref": "#/components/schemas/UserSummary"
          }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "required": ["productId", "buyerId", "amount", "shippingAddressId"],
        "properties": {
          "productId": {
            "type": "string"
          },
          "buyerId": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "minimum": 0
          },
          "shippingAddressId": {
            "type": "string"
          }
        }
      },
      "OrderListResponse": {
        "type": "object",
        "properties": {
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "order": {
            "$ref": "#/components/schemas/Order"
          }
        }
      },
      "Category": {
        "type": "object",
        "required": ["id", "name", "slug"],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "parentId": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "CartResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartItem"
            }
          },
          "subtotal": {
            "type": "number",
            "minimum": 0
          },
          "itemCount": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "CartItem": {
        "type": "object",
        "required": ["id", "productId", "quantity", "addedAt"],
        "properties": {
          "id": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "addedAt": {
            "type": "string",
            "format": "date-time"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "facets": {
            "type": "object",
            "properties": {
              "categories": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              },
              "brands": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              },
              "priceRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "min": {
                      "type": "number"
                    },
                    "max": {
                      "type": "number"
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "UserSummary": {
        "type": "object",
        "required": ["id", "firstName", "lastName", "imageUrl"],
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "averageRating": {
            "type": "number",
            "minimum": 0,
            "maximum": 5,
            "nullable": true
          },
          "verified": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message"
          },
          "details": {
            "type": "array",
            "description": "Validation errors or additional details",
            "items": {
              "type": "object"
            }
          },
          "code": {
            "type": "string",
            "description": "Error code for client handling"
          }
        }
      },
      "PaginationInfo": {
        "type": "object",
        "required": ["page", "limit", "total", "totalPages"],
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 1
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "totalPages": {
            "type": "integer",
            "minimum": 0
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "hasPreviousPage": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token from Clerk authentication"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-rate-limiting": {
    "default": {
      "requests": 100,
      "window": "1m"
    },
    "authenticated": {
      "requests": 1000,
      "window": "1m"
    },
    "payment": {
      "requests": 10,
      "window": "1m"
    },
    "webhook": {
      "requests": 1000,
      "window": "1m"
    }
  }
}